<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <wizpay>
                <debug>1</debug>
                <model>Wizpay\Wizpay\Model\PaymentMethodModel</model>
                <payment_action>authorize</payment_action>
                <active>1</active> <!--Plugin disabled by default. The user must configure it first.-->
                <order_status>pending_payment</order_status>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_use_internal>0</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>0</can_edit>
                <can_review_payment>1</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <is_gateway>1</is_gateway>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <website_customisation>
                    <payment_info_on_product_pages>1</payment_info_on_product_pages>
                    <payment_info_on_cart_pages>0</payment_info_on_cart_pages>
                    <payment_info_on_catetory_pages>0</payment_info_on_catetory_pages>
                </website_customisation>
            </wizpay>
        </payment>
    </default>
</config>
