


<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">

    <style>
        .wizit-custom-payfields .wizit-row {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
        }
    
        .wizit-custom-payfields .wizit-row .wizit-col-3 {
            flex: 0 0 auto;
            width: 25%;
        }
    
        @media screen and (max-width: 576px) {
            .wizit-custom-payfields .wizit-row .wizit-col-sm-6 {
                flex: 0 0 auto;
                width: 50%;
            }
        }

        .payment-icon.wizit-payment-logo{
            max-width: 50px !important;
        }
    </style>
    

    
    <div class="payment-method-title field choice">
        <input type="radio" name="payment[method]" class="radio"
            data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        
        <label data-bind="attr: {'for': getCode()}" class="label" for="Wizit">
            <img data-bind="attr: {src: getLogoUrl()}" class="payment-icon wizit-payment-logo" alt="Wizit" />
            &nbsp;&nbsp;<span style="line-height: 35px;" data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <h5 style="font-size: 16px;">
            Wizitcard - Interest free credit card up to $1,000 limit with a simple monthly fee.
        </h5>
        <h5>
            Payments starting from $10 per week.
        </h5>
        <div class="wizit-custom-payfields">           
            
            <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() -->
            <!-- /ko -->
            <!--/ko-->
            <div class="payment-method-billing-address">
                <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
                <!-- ko template: getTemplate() -->
                <!-- /ko -->
                <!--/ko-->
            </div>

            <!-- Render the native credit card form. 
        <form class="form" data-bind="attr: {'id': getCode() + '-form'}">
            ko template: 'Magento_Payment/payment/cc-form'  /ko 
        </form>-->

            <div class="checkout-agreements-block">
                <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() -->
                <!-- /ko -->
                <!--/ko-->
            </div>

            <div class="actions-toolbar">
                <div class="primary">
                    <button data-role="review-save" type="submit" data-bind="
                        attr: {title: $t('Place Order')},
                        enable: (getCode() == isChecked()),
                        click: continueToWizit,
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        " class="action primary checkout" disabled>
                        <span data-bind="i18n: 'Place Order with Wizit'"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>