<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
     <event name="sales_order_invoice_pay">
        <observer name="wizit" instance="Wizit\Wizit\Observer\SalesOrderInvoicePay" />
    </event>
     <event name="sales_order_payment_refund">
        <observer name="creditmemo_refund" instance="Wizit\Wizit\Observer\SalesOrderCreditmemoSave" />
    </event>
    <event name="view_block_abstract_to_html_before">
        <observer name="wizit_view_block_abstract_to_html_before" instance="Wizit\Wizit\Observer\BeforeCreditmemoLoad" />
    </event>
    <event name="view_block_abstract_to_html_After">
        <observer name="wizit_view_block_abstract_to_html_after" instance="Wizit\Wizit\Observer\BeforeCreditmemoLoad" />
    </event>
    <event name="order_cancel_after">
        <observer name="wizit_order_cancel_after" instance="Wizit\Wizit\Observer\SalesOrderItemCancel" />
    </event>
</config>